<!-- Create your form here -->
"Student Form"
<form class="" action="/students" method="post">
  <br>first_name<input type="text" name="first_name" value="">
  <br>last_name<input type="text" name="last_name" value="">
  <br>submit<input type="submit" name="Submit Student" value="Submit Student">
</form>

<%
# Use a form_tag to create a new form that submits to the index action


# Correctly name form fields so that they end up at the top level of the params hash
# Assign data from params to a Student object in the create action
# Save that Student object in the create action
# Create a redirect_to from the create action to the show action

%>
