<!-- Create your form here -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Student</title>
  </head>
  <body>
    <h1>Student Form</h1>
    <form action="/students" method="post">
      <input type="text" name="first_name">
      <input type="text" name="last_name">
      <button type="submit" name="submit">Submit Student</button>

    </form>
  </body>
</html>
